* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1501884428012-aa321a256730?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwMzE2NDE2MQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

.container {
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 20px;
    padding: 2em;
}

.input-city {
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 30px;
    font-size: 1.2em;
    background-color: rgba(70, 70, 70, 0.479);
    color: white;
    width: 80%;
}

.search {
    width: 18%;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.479);
    cursor: pointer;
    float: right;
}

.img-search {
    width: 24px;
}

.title-city {
    color: white;
    font-size: 1.8em;
    font-weight: 500;
}

.container-medium {
    margin-top: 1em;
}

.temperature {
    color: white;
    font-size: 1.1em;
    margin-top: 0.2em;
}

.container-small {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.img-climate {
    width: 18%;
}

.climate {
    color: white;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 0.4em;
    text-transform: capitalize;
}

.moisture {
    font-size: 1.1em;
    margin-top: 0.8em;
    color: white;
}

